.container {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.login_bag {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form_bag {
    background-color: #ffff;
    margin: auto;
    z-index: 2;
    border-radius: 7px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    max-width: 70%;
    top: 50%;
    left: 50%;
}

/* ------FORM-BODY------ */
.wrap {
    margin: 20px 20px 10px 20px;
}

.form_heading-bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_heading-main {
    font-size: 1.3rem;
}

.form_heading-sub {
    margin-top: 6px;
    font-size: 1.05rem;
}

.form_heading-sub a {
    text-decoration: none;
    color: var(--title-color--);
}

.form {
    margin: 30px 0px;
}

.input_bag {
    margin-bottom: 20px;
}


.input_radio-bag {
    display: flex;
    justify-content: space-between;
}

.input_bag-item {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

span {
    color: red;
}

input[type="date"] {
    color: var(--text-color--);
}

::-webkit-calendar-picker-indicator {
    padding-right: 20px;
    font-size: 17px;
    cursor: pointer;
}

.input_bag-item:focus {
    border: rgb(59, 165, 252) solid 3px;
}

.form_text {
    text-align: center;
    color: #333;
    margin-top: 20px;
    /* font-weight: 600; */
}

.form_text a {
    text-decoration: none;
    color: var(--title-color--);
}

.btn a {
    text-decoration: none;
    color: #000;
}

.btn_bag {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
}

.btn-back {
    border: black;
    background-color: #fff;
}

.btn-login {
    background-color: var(--title-color--);
    color: var(--white-color--);
    border: none;
}

.btn-login:hover {
    opacity: 0.7;
}

.btn-back:hover {
    background-color: #ccc;
}

.btn+.btn {
    margin-left: 10px;
}

/* ------SOCIAL---- */
.social_list {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.social_list i {
    color: #fff;
    padding: 7px;
    font-size: 20px;
}

.face_book-style {
    background-color: rgb(22, 141, 221);
}

.google-style {
    background-color: #444;
}

.social_list-item a {
    text-decoration: none;
    padding-right: 20px;
    color: #fff;
}